:root {
   --main-text-color: black;
   --main-background-color: aqua;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  display: inline;
}

@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/mixin";
@import "./components/vars";

