:root {
   --main-text-color: black;
   --main-background-color: aqua;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}