@import "./mixin";

main {
    background-color: rgb(229, 245, 248);
}
//section promo
.promo {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    text-align: center;

    .promo-text {
        padding-top: 18%;
    }

    h2 {
        @include h2;
    }

    a {
        @include btn;

        &:hover {
            background-color: cornflowerblue;
            color: cornsilk;
        }  
    }

}

//section services
.services {
    height: 400px;
    background-image: url(/images/pic-3.jpg);
    background-repeat: no-repeat;
    background-position: left center;

    h2 {
        @include h2;
        padding-top: 150px;
        padding-left: 600px;
        line-height: 50px;
    }

    a {
        @include btn;  
        
        &:hover {
            background-color: cornflowerblue;
            color: cornsilk;
        }  
                  
    }    

    .services-btn {
        margin-left: 800px;     
           
    }
     
    
}


//section news




//section review




